body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #A1C181;
  color: #233D4D;
  text-align: center;
  padding: 0.5em;
}

main {
  flex: 1;
  padding: 2em;
}

#explanation-text {
  padding-top: 2em;
  padding-left: 35px;
  padding-bottom: 5px;
  color: #233d4d;
}

#results-section {
  background-color:#619b8a;
  color: #233d4d;
  padding: 20px;
}

h2 {
  color: white;
}

#saved-searches {
  background-color: #619b8a;
  color: #233d4d;
  padding: 20px;
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 1em;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #A1C181;
  border-radius: 5px;
  list-style-type: none;
  font-size: 20px;
}

ul p:hover {
  cursor: pointer;
}